html {
height: 100%;
}

body { 
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgb(58, 202, 255),rgb(26, 97, 189));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form{
    align-content: center;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 25px;
    padding: 20px;
    margin: 30px;
    width: fit-content;
}

.btn{
    width: max-content;
}

#originalPrice{ 
    border: none;
    border-bottom: 5px black;
    margin-bottom: 15px;
}

#value{
    border: 2px solid black;
    border-radius: 5px;
    min-width: 50px;
    text-align: center;
    background-color: white;
}

span{ 
    font-size:16px; 
    font-style: italic;   
    display:block;   
    max-width: 300px; 
    text-align: center;
}

#result{ 
    font-size:24px;  
    margin-top:20px; 
    padding:10px; 
    display:block;    
    text-align: center;
}